* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  background-color: lightslategrey;
}
/* Header */


header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    border: 2px solid black;
}
  
header h1 {
    font-size: 36px;
    margin: 0;
    cursor: pointer;
}
  
  /* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    margin-left: 20px;
    display: inline-block;
}
  
nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ffd700;
    border-bottom: 1px solid #ffd700;
}

section {
  max-width: 1500px; /* set the maximum width of the section */
  margin: 0 auto; /* center the section horizontally */
  padding: 40px; /* add some padding to the section */
  }
  
/* About me section */
#about-me {
  background-color: #333;
  margin-top: 110px;
  color: white;
  padding-top: 1px;
  border: 2px solid black;
}

h2 {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
}

#about-me p {
  padding-left: 70px;
}



#about-me .text-container p {
  margin-right: 600px;
  margin-top: 40px;
}


#about-me img {
  height: 400px;
  float: right;
  margin-top: -500px;
  margin-right: 100px;
  border: 2px solid black;
  background-color: cadetblue;
  margin-bottom: 10px;
}

/* Future Projects */
#future-projects {
  background-color: #333;
  border: 2px solid black;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  max-width: 1500px;
  color: white;
}


.container {
  display: flex;
  justify-content: space-between;

}

.project-1 {
  border: 2px solid black;
  margin: 0 40px;
  background-color: cadetblue;
  margin-bottom: 10px;
  text-align: center;
  height: 250px;
  max-width: 300px;
}

.project-2 {
  border: 2px solid black;
  margin: 0 40px;
  background-color: cadetblue;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  height: 250px;
  max-width: 300px;
}

.project-3 {
  border: 2px solid black;
  margin: 0 40px;
  background-color: cadetblue;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  height: 250px;
  max-width: 300px;
}

#future-projects h3 {
  text-align: center;
}
#future-projects p {
  max-width: 100%;
}

#future-projects li {
  max-width: 40%;
} 




#skills {
  background-color: #333;
  border: 2px solid black;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  max-width: 1500px;
  color: white;
}

.code-skills {
  border: 2px solid black;
  margin: 0 40px;
  background-color: cadetblue;
  margin-bottom: 10px;
  min-height: 240px;
  max-height: 250px;
  width: 350px;
}

#skills li {
  list-style: none;
  margin-right: 40px;
  margin-top: 10px;
}

#skills img {
  border: 2px solid black;
  max-height: 90px;
  max-width: 90px;
}

.node {
  padding-top: 15px;
}

.react {
  padding-top: 5px;
}

/* buttons */

.prev {
  border: 1.8px solid #333;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0, 255, 255, 0.74);
  color: #333;
  font-size: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 0px;
  padding-bottom: 7px;
  padding-right: 8px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 50px;
}

.next {
  border: 1.8px solid #333;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0, 255, 255, 0.74);
  color: #333;
  font-size: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 0px;
  padding-bottom: 7px;
  padding-left: 8px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 50px;
}




@media screen and (max-width: 950px) {
  header {
    flex-direction: column; /* change flex-direction to column to stack elements */
    text-align: center;

  }
  
  nav {
    margin-top: 20px; /* add margin to push the nav down */
  }
  
  #about-me .text-container p {
    margin-right: 0;
    margin-top: 20px;
  }

  #about-me img {
    display: none;
  }
}
  
  
  
  
  
  
 
  
  
  