* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  background-color: lightslategrey;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    border: 2px solid black;
}
  
header h1 {
    font-size: 36px;
    margin: 0;
}
  
  /* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    margin-left: 20px;
    display: inline-block;
}
  
nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ffd700;
    border-bottom: 1px solid #ffd700;
}

section {
    max-width: 1100px; /* set the maximum width of the section */
    margin: 0 auto; /* center the section horizontally */
    padding: 40px; /* add some padding to the section */
  }
  
/* About me section */
#about-me {
  background-color: #333;
  margin-top: 10px;
  color: white;
  padding-top: 1px;
  border: 2px solid black;

}

#about-me h2 {
  font-size: 2em;
  padding-top: 20px;
}



#about-me .text-container p {
  margin-right: 600px;
  margin-top: 70px;
}


#about-me img {
  height: 400px;
  float: right;
  margin-top: -400px;
  margin-right: 30px;
}

/* Future Projects */
#future-projects {
  background-color: #333;
  border: 2px solid black;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  max-width: 700px;
  color: white;
}

.project-1 {
  border: 2px solid black;
  margin: 0 40px;
  background-color: cadetblue;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  height: 300px;
}

.project-2 {
  border: 2px solid black;
  margin: 0 40px;
  background-color: cadetblue;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
}

.project-3 {
  border: 2px solid black;
  margin: 0 40px;
  background-color: cadetblue;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
}

#future-projects h3 {
  text-align: center;
}
#future-projects p {
  max-width: 40%;
}

#future-projects li {
  max-width: 40%;
}



  
  
  
  
  
  
 
  
  
  